/* 
    "Engineers Inc."
    Scamper Framework

    INTEGRANTES:
    Aguas Montaño Sergio José
    Becerra Ramírez Alejandro
    Castellanos Carranza Jaime
    Gómez Trujillo Emmanuel
    González Hernández Cristian
    Guijarro Rocha Aníbal Uriel
    Raygoza De León Martín
*/

@font-face {
    font-family: Titles;
    src: url(../fonts/RobotoMono-Regular.ttf);
    font-weight: bold;
}

@font-face{
    font-family: Texts;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face{
    font-family: Buttons;
    src: url(../fonts/Inconsolata-Regular.ttf);
}

:root{
    --primary: #159A9C;
    --secondary: #B4BEC9;
    --terciary: #DEEFE7;
    --complement: #002333;
    --base: #FFFFFF;
    --fsize: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15vh repeat(2, auto) 10vh;
    grid-template-areas: "header header header"
        "main main main";
    grid-template-columns: 1fr 2fr 2fr;
    gap: 10px;
    transition: background-color 1s;
    position: relative;
    padding-bottom: 15vh;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}
main{
    grid-area: main;
    padding-left: 7vw;
    padding-right: 5vw;
}

/* ------------ SEPARADOR -------------- */
button img {
    position: relative;
    top: 1px;
    right:  -1px;
    width: 20px;
    height: 20px;
}
/* Header */
header{
    width: 100vw;
    padding: 3.5vh;
    position: absolute;
    top: 0;
    text-align: right;
    background-color: var(--complement);
    transition: background-color 1s;
    color: var(--base);
    grid-area: header;
}
header h1{
    margin-bottom: 15px;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    padding: 1vh;
    text-decoration: none;
    color: var(--base);
    font-size: 1.30em;
    border-bottom: 3px solid transparent;
    transition: 0.6s border-bottom;
}

nav ul li a:hover{
    border-bottom: 3px solid var(--primary);
}

.logo_nombre{
    width: 150px;
    max-width: 100%;
    position: absolute;
    top: 10px;
    left: 90px;
    transition: 0.30s;
}

/* Footer */
footer{
    width: 100vw;
    padding: 5vh;
    text-align: center;
    background-color: var(--primary);
    transition: background-color 1s;
    color: var(--base);
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    bottom: 0;
}
footer p{
    font-size: var(--fsize);
    font-style: oblique;
}

/* Resto */
.titulos{
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
    border-bottom: 5px solid var(--secondary);
}

article{
    padding-top: 20px;
}

article p{
    font-size: var(--fsize);
}

.resaltarIcono {
    transition: 0.5s;
}

.resaltarIcono:hover {
    transform: scale(1.2);
}

/* Modo oscuro */
body.dark-mode{
    background-color: var(--complement); /* color de fondo en modo oscuro */
    transition: background-color 1s;
    color: var(--base); /* color de texto en modo oscuro */
}
aside.dark-mode{
    background-color: var(--primary);
    transition: background-color 1s;
}
header.dark-mode{
    background-color: var(--primary);
    transition: background-color 1s;
}

.logo.dark-mode{
    background-color: var(--complement);
    transition: background-color 1s;
}

.dark-mode .resaltarIcono{
    transition: 0.5s;
}

.dark-mode nav ul li a:hover{
    border-bottom: 3px solid var(--complement);
}

/* Boton animado para el Dark-Mode*/
.dark_mode--slide_area{
    width: 50px;
    height: 25px;
    background-color: var(--primary);
    border-radius: 16px;
    border: 2px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    transition: background-color .7s;
    cursor: pointer;
}

.light_mode--slide_area{
    width: 50px;
    height: 25px;
    background-color: var(--complement);
    border-radius: 16px;
    border: 2px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    transition: background-color .7s;
    cursor: pointer;
}

.dark_mode--btn{
    background-color: slategray;
    width: 30px;
    height: 25px;
    border-radius: 50%;
    border: none;
    margin:  0 100% 0 0;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .7s, margin .7s;
}

.light_mode--btn{
    background-color: blue;
    width: 30px;
    height: 25px;
    border-radius: 50%;
    border: none;
    margin:  0 0 0 calc(100% - 29px);
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color .7s, margin .7s;
}

/* Botones para activar modulos flotantes */



.float_mod{
    display: inline-block;
}
.Modulos_flot{
    position:relative;
    top:50px;
    margin: 20px;
    padding: 10px;
    padding-left: 5vw;
    padding-right: 5vw;
    color: var(--terciary);
    background-color: var(--primary);
    border-radius: 10px;
}

.Modulos_flot:hover{
    cursor: pointer;

}

/* MEDIA QUERIES */
/* Desktop */
@media screen and (min-width: 1366px){
    /* FALTA */
}

/* Tablet */
@media screen and (min-width: 720px) and (max-width: 1365px){
    /* FALTA */
}

/* Smartphone */
@media screen and (max-width: 719px){
    /* FALTA */
}
